/* Root Básico */

:root {
    --branco: #FFFFFF;
    --cinza: #444444;
}

/* Root Verão */

:root {
    --azul-escuro: #2E7BA2;
    --azul-claro: #C8DEEF;
    --amarelo-claro: #FBF0DD;
    --amarelo: #FACF9D;
    --mostarda: #DF9010;
}

/* Root Boreal */

:root {
    --roxo: #4650BD;
    --roxo-claro: #B6BCFF;
    --verde: #008364;
    --verde-claro: #36C1A0;
    --azul-marinho: #304968;
}

/* --Cabeçalho--- */

.cabecalho {
    background: var(--azul-escuro);
    height: 128px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 32px 0 32px 0;
}

.cabecalho-link {
    font-family: 'Raleway';
    color: var(--branco);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0 32px;
}

.botao-hamburger {
    display: none;
    cursor: pointer;
}

.barra-hamburger {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--branco);
}

/* --Corpo-- */

/* Banner Top */ 

.banner-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 407px;
    width: 100%;
    position: relative;
    mix-blend-mode: multiply;
}

.banner-top::before {
    content: "";
    background: url('images/banners/banner-ingresso.jpg');
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.5;
}

h1 {
    font-family: 'Calistoga';
    font-size: 64px;
    text-align: center;
    color: var(--cinza);
}

/* --Main-- */

main {
    background: linear-gradient(#C8DEEF, #FBF0DD, #FACF9D);
}

/* --Form-- */

h2 {
    font-family: 'Calistoga';
    font-size: 48px;
    line-height: 62px;
    color: var(--cinza);
    padding: 48px 0px 48px 0px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-maior-titulo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 32px;
    color: var(--cinza);
    padding: 0px 0px 8px 0px;
    display: flex;
}

.formulario-maior-caixa {
    width: 795px;
    height: 48px;
    border: none;
    margin: 8px 0 32px 0;
}

.formulario-menor {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formulario-menor-titulo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 32px;
    height: 38px;
    color: var(--cinza);
    padding: 0px 0px 8px 0px;
    display: flex;
    max-width: 314px;
}

.formulario-menor-caixa {
    width: 385.5px;
    height: 48px;
    border: none;                     
    margin: 8px 0 32px 0;
}

.nascimento {
    margin-left: 24px;
}

.formulario-submit {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: var(--branco);
    background: var(--azul-escuro);
    box-shadow: 4px 4px 0px var(--cinza);
    border-radius: 16px;
    border: none;
    padding: 16px 16px;
    display: flex;
    align-items: center;
}

/* --Footer-- */

.rodape {
    background: var(--amarelo);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape-block1 {
    padding: 60px 0px 60px 120px;
}

.rodape-undertext {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
}

.rodape-undertext p {
    font-family: 'Raleway';
    font-size: 20px;
    color: var(--cinza);
}

.rodape-undertext img {
    padding-left: 8px;
}

.rodape-block2 {
    display: inline-flex;
    flex-direction: column;
    font-family: 'Raleway';
    font-size: 20px;
    line-height: 40px;
    color: var(--cinza);
    padding: 76px 120px 76px 0;
}

/* CSS Tablet */

@media screen and (max-width: 1200px) {
    .cabecalho {
        width: 100%;
        height: 200px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-cabecalho {
        padding-bottom: 32px;
    }

    .formulario-maior-caixa {
        width: 648px;
    }

    .formulario-menor {
        display: flex;
        flex-direction: column;
    }

    .formulario-menor-caixa {
        width: 648px;
    }

    .nascimento {
        margin: 0;
    }

    .rodape {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rodape-block1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px 0 32px 0;
    }

    .rodape-block2 {
        display: flex;
        flex-direction: row;
        padding: 0 0 24px 0;
        gap: 6px;
    }
}

/* CSS Celular */

@media screen and (max-width: 765px) {
    .cabecalho {
        height: 128px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 32px 24px 32px 24px;
    }

    .logo-cabecalho {
        padding: 0px;
    }

    .botao-hamburger {
        display: block;
    }

    .botao-hamburger.active .barra-hamburger:nth-child(2) {
        opacity: 0;
    }

    .botao-hamburger.active .barra-hamburger:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .botao-hamburger.active .barra-hamburger:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .itens-cabecalho {
        position: fixed;
        left: -100%;
        top: 128px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background: var(--azul-escuro);
        z-index: 1;
        width: 100%;
        height: 243px;
        text-align: center;
        transition: 0.3s;
    }

    .cabecalho-link {
        margin: 17px 0;
    }

    .itens-cabecalho.active {
        left: 0;
    }

    h1 {
        font-size: 32px;
        line-height: 42px;
    }

    h2 {
        font-size: 32px;
        line-height: 42px;
    }

    .formulario-maior-titulo {
        font-size: 32px;
        line-height: 38px;
    }

    .formulario-maior-caixa {
        width: 312px;
    }

    .formulario-menor-titulo {
        font-size: 32px;
        line-height: 38px;
    }

    .formulario-menor-caixa {
        width: 312px;
    }

    .rodape-block1 {
        padding-bottom: 16px;
    }

    .rodape-undertext {
        display: flex;
        flex-direction: column;
        line-height: 40px;
    }

    .rede-icones {
        padding-top: 8px;
    }

    .rodape-block2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}   