/* Root Básico */

:root {
    --branco: #FFFFFF;
    --cinza: #444444;
}

/* Root Verão */

:root {
    --azul-escuro: #2E7BA2;
    --azul-claro: #C8DEEF;
    --amarelo-claro: #FBF0DD;
    --amarelo: #FACF9D;
    --mostarda: #DF9010;
}

/* Root Boreal */

:root {
    --roxo: #4650BD;
    --roxo-claro: #B6BCFF;
    --verde: #008364;
    --verde-claro: #36C1A0;
    --azul-marinho: #304968;
}

/* --Cabeçalho--- */

.cabecalho {
    background: var(--azul-escuro);
    height: 128px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 32px 0 32px 0;
}

.cabecalho-link {
    font-family: 'Raleway';
    color: var(--branco);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0 32px;
}

.botao-hamburger {
    display: none;
    cursor: pointer;
}

.barra-hamburger {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--branco);
}

/* --Corpo-- */

/* Banner Top */ 

.banner-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 407px;
    width: 100%;
    position: relative;
    mix-blend-mode: multiply;
}

.banner-top::before {
    content: "";
    background: url('images/banners/banner-setores.jpg');
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.5;
}

h1 {
    font-family: 'Calistoga';
    font-size: 64px;
    text-align: center;
    color: var(--cinza);
}

/* --Main-- */

main {
    background: linear-gradient(#C8DEEF, #FBF0DD, #FACF9D);
}

/* --Mapa-- */

.setores {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 32px 0px 80px 0px;
}

.legenda-setores {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 32px;    
    color: var(--cinza);
    padding-left: 48px;
}

.legenda-setores li {
    display: flex;
    font-weight: 500;
    align-items: center;
    gap: 1rem;
    padding-top: 24px;
}
        
li span {
    display: inline-block;
    width: 32px;
    height: 32px;
}

li:first-of-type > span {
    width: 32px;
    height: 32px;
    background-color: #0E7DF1;
}
        
li:nth-of-type(2) > span {
    width: 32px;
    height: 32px;
    background-color: #FE016E;
}
        
li:nth-of-type(3) > span {
    width: 32px;
    height: 32px;
    background-color: #01A89E;
}

li:nth-of-type(4) > span {
    background-color: #3F51B5;
}

li:last-of-type > span {
    width: 32px;
    height: 32px;
    background-color: #0E7DF1;
}

/* --Detalhes-- */

h3 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: var(--cinza);
}

h4 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    padding-top: 24px;
    color: var(--cinza);
}

.detalhes {
    display: flex;
    justify-content: center;
    padding: 32px 0px 48px 0px;
}

.detalhes p {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    padding-top: 24px;
    color: var(--cinza);
}

.detalhes div {
    width: 383px;
    padding-left: 24.3px;
}

.detalhes-pista_premium {
    padding-top: 106px;
}

/* --Footer-- */

.rodape {
    background: var(--amarelo);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape-block1 {
    padding: 60px 0px 60px 120px;
}

.rodape-undertext {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
}

.rodape-undertext p {
    font-family: 'Raleway';
    font-size: 20px;
    color: var(--cinza);
}

.rodape-undertext img {
    padding-left: 8px;
}

.rodape-block2 {
    display: inline-flex;
    flex-direction: column;
    font-family: 'Raleway';
    font-size: 20px;
    line-height: 40px;
    color: var(--cinza);
    padding: 76px 120px 76px 0;
}

/* CSS Tablet */

@media screen and (max-width: 1200px) {
    .cabecalho {
        width: 100%;
        height: 200px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-cabecalho {
        padding-bottom: 32px;
    }

    .setores {
        display: flex;
        flex-direction: column;
    }

    .legenda-setores {
        padding: 48px 0 0 0;
        text-align: center;
    }

    .detalhes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .detalhes div {
        padding: 0;
    }

    .detalhes-pista {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
    }
    
    .detalhes-pista p {
        width: 648px;
    }

    .detalhes-pista_premium {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
    }
    
    .detalhes-pista_premium p {
        width: 648px;
    }

    .detalhes-cadeiras {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .detalhes-cadeiras p {
        width: 648px;
    }

    .rodape {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rodape-block1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px 0 32px 0;
    }

    .rodape-block2 {
        display: flex;
        flex-direction: row;
        padding: 0 0 24px 0;
        gap: 6px;
    }
}

/* CSS Celular */

@media screen and (max-width: 765px) {
    .cabecalho {
        height: 128px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 32px 24px 32px 24px;
    }

    .logo-cabecalho {
        padding: 0px;
    }

    .botao-hamburger {
        display: block;
    }

    .botao-hamburger.active .barra-hamburger:nth-child(2) {
        opacity: 0;
    }

    .botao-hamburger.active .barra-hamburger:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .botao-hamburger.active .barra-hamburger:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .itens-cabecalho {
        position: fixed;
        left: -100%;
        top: 128px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background: var(--azul-escuro);
        z-index: 1;
        width: 100%;
        height: 243px;
        text-align: center;
        transition: 0.3s;
    }

    .cabecalho-link {
        margin: 17px 0;
    }

    .itens-cabecalho.active {
        left: 0;
    }

    h1 {
        font-size: 32px;
        line-height: 42px;
    }

    .mapa-setores img {
        width: 360px;
        height: 360px;
    }

    .setores {
        padding: 32px 0 32px 0;
    }

    .legenda-setores {
        font-size: 20px;
        line-height: 40px;
        text-align: center;
    }

    .detalhes {
        padding: 0 0 48px 0;
    }

    .detalhes img {
        width: 312px;
        height: 239px;
    }

    .detalhes p {
        width: 312px;
    }

    h3 {
        display: flex;
        justify-content: center;
        font-size: 32px;
        line-height: 38px;
        padding-bottom: 32px;
    }

    .rodape-block1 {
        padding-bottom: 16px;
    }

    .rodape-undertext {
        display: flex;
        flex-direction: column;
        line-height: 40px;
    }

    .rede-icones {
        padding-top: 8px;
    }

    .rodape-block2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}   